@tailwind base;
@tailwind components;
@import url("https://use.typekit.net/wnr4sra.css");
.font-primary {
    font-family:quicksand, sans-serif;
    font-weight:500;
    font-style:normal;
}

.border-3 {
    border-width:3px;
}

.nav-link {
    @apply text-gray-400 border-t-8 h-20 pt-5 px-10 border-transparent hover:bg-primary-dark hover:text-white focus:outline-none focus:text-white active:bg-primary-superlight px-2 py-1 text-xl font-semibold;
}

.nav-link.router-link-active {
    @apply text-primary border-primary active:bg-primary-superlight hover:text-white focus:underline;
}

.btn-primary {
    @apply inline-block cursor-pointer px-5 py-3 rounded-lg shadow-lg bg-primary font-black font-semibold tracking-wider transform transition hover:-translate-y-0.5 focus:-translate-y-0.5 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-secondary;
}

.btn-primary:hover {
    @apply bg-primary-dark;
}

.btn-primary:active {
    @apply bg-primary-light;
}

.btn-secondary {
    @apply inline-block cursor-pointer px-5 py-2 rounded-lg shadow-lg bg-gray-50 text-secondary font-semibold tracking-wider border-4 border-secondary transform transition hover:-translate-y-0.5 focus:-translate-y-0.5 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-primary;
}

.btn-secondary:hover {
    @apply bg-secondary-superlight;
}

.btn-secondary:active {
    @apply -translate-y-0.5;
}

.btn-primary-sm {
    @apply inline-block cursor-pointer text-sm px-4 py-1 rounded-lg shadow-lg bg-primary font-black font-semibold tracking-wider transform transition hover:-translate-y-0.5 focus:-translate-y-0.5 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-secondary;
}

.white-subheading {
    @apply mt-8 text-white text-xl;
}

.full-width-container {
    @apply container max-w-full text-center;
}

.form-label {
    @apply block text-gray-700 text-lg font-bold mb-2;
}

.form-input:focus {
    @apply outline-none ring ring-secondary shadow-xl -translate-y-1;
}

::placeholder {
    @apply content-center;
}

.error {
    @apply ring ring-red-400 text-red-500;
}

.error:focus {
    @apply ring ring-red-500;
}

.error::placeholder {
    @apply text-red-500;
}

@tailwind utilities;